
   
        .container,.container1,.container2,.container3{
            display: flex;
        }
        .container4,.container5,.container6,.container7{
            display: flex;
        }
        .boxes{
            border: .1px solid;
            width: 80px;
            height: 80px;
            text-align: center;
            font-size: 30px;
        }

        #box1{
            background-color: green;
           
        }
        #box2{
            background-color: yellow;
          
        }
        #box3{
            background-color: pink;
        }
        #box4{
            background-color: blue;
        }
        #box5{
            background-color: red;
        }
        #box6{
            background-color: orange;
        }
        #box7{
            background-color:beige;
        }
        #box8{
            background-color: lightgrey;
        }

        /* margin left auto*/
        .container1 #box2{
            
            margin-left:auto;
        }
         /* margin right auto*/
        .container2 #box7{
            background-color: lightgrey;
            margin-right:auto;
        }
         /* Justify content*/
         .container3{
           justify-content: flex-end;
        }
        .container4{
            justify-content: center;
         }
         .container5{
            justify-content: space-between;
         }
         .container6{
            justify-content: space-around;
         }
         .container7{
            justify-content: space-evenly;
         }
 

 

         