
.app
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 50px;
    width:50%;
    height:40px;
    margin-left: 100px;
    
}
.myForm
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}
